@charset "utf-8";
/*ͨ��*/


#box3 {
    position: relative;
    background: #fff;
    padding: 25px;
    margin: 20px auto;
    border: solid 1px red;
    width:1035px;
    border-radius:18px;
}


#l_k1 {
   margin-top:100px;
    
}
#tab1 {
    margin:20px 30px;
}
#tab1 > table {
    font-size: 16px;
    text-align: center;
    margin-top:-90px;
    border-radius:10px; 
}
#tr1{
    font:#000000;
    font-size:22px;
}
#img1 {
    position:relative;
    
}
.img2{
   
    width: 229px;
    height: 172px;
    margin-top:20px;
    margin-left: 23px;
    border-radius:5px;
}

#box3>#l_k1>table {
    border: 2px solid #666;
}
td {
    width:10px 25px;
    border-top:solid 1px #000000;
    border-left:solid 1px #000000;
}

